$font-text: 'Lato', sans-serif;
$color-white: #ffffff;
$color-black: #212121;
$color-turquoise: #36bd9f;
$color-orange: #ff7640;


*, :after, :before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}
html{
  height: 100%;
}
body{
  margin: 0;
}
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
span{
  display: inline-block;
}
section{
  padding: 50px 0;
}
body{
  font-family: $font-text;
  color: $color-black;
  background: $color-white;
}
.wrapper-grid{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.block-h{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-v{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.center{
  display: flex;
  justify-content: center;
}

.header{
  background-color: #f7f7f7;
  .header-content{
    height: 82px;
    div{
      flex-wrap: nowrap;
    }
    .logo{
      img{
       height: 45px;
      }
    }
    .phone,
    .email,
    .account{
      color: $color-black;
      font-size: 14px;
      font-weight: bold;
      img{
       margin-right: 7px;
      }
    }
    .phone,
    .account{
      text-transform: uppercase;
        img{
          height: 26px;
        }
    }
    .email{
      img{
        height: 18px;
      }
    }
  }
}

.button{
  border-radius: 24px;
  border: 1px solid $color-orange;
  color: #fff;
  background: $color-orange;
  transition: .5s;
  &:hover{
    color: $color-orange;
    background-color: $color-white;

  }
}
.section-title{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
  span{
    color: $color-turquoise;
  }
}

/*----------MENU------------*/
.main-menu{
  width: 60%;
  ul{
    li{
      a{
        text-transform: uppercase;
        color: $color-black;
        font-size: 14px;
        font-weight: bold;
        transition: .5s;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

/*-----------------------------*/

#nav-icon-mob {
  display: none;
  width: 32px;
  height: 24px;
  position: relative;
  //margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}

#nav-icon-mob span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: $color-black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon-mob span:nth-child(even) {
  left: 50%;
  //border-radius: 0 9px 9px 0;
}

#nav-icon-mob span:nth-child(odd) {
  left:0px;
  //border-radius: 9px 0 0 9px;
}

#nav-icon-mob span:nth-child(1), #nav-icon-mob span:nth-child(2) {
  top: 0px;
}

#nav-icon-mob span:nth-child(3), #nav-icon-mob span:nth-child(4) {
  top: 9px;
}

#nav-icon-mob span:nth-child(5), #nav-icon-mob span:nth-child(6) {
  top: 18px;
}

#nav-icon-mob.open span:nth-child(1),#nav-icon-mob.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon-mob.open span:nth-child(2),#nav-icon-mob.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon-mob.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon-mob.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon-mob.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon-mob.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon-mob.open span:nth-child(5) {
  left: 5px;
  top: 13px;
}

#nav-icon-mob.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 13px;
}
/*----------------------------*/

.section-header{
  padding: 40px 0;
  height: 650px;
  background-image: url(../img/img-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-header-content{
  width: 54%;
  h1{
    text-transform: uppercase;
    color: $color-turquoise;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.46;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .description{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .block-select{
    justify-content: space-around;
    height: 85px;
    background-color: $color-white;
    border-radius: 26px;
    .button{
      width: 261px;
      height: 50px;
      font-size: 18px
    }
  }
}
/*--------------SELECT----------*/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 261px;
  border-radius: 26px;
  background-color: $color-white;
  border: solid 1px $color-turquoise;
  padding: 13px 40px 13px 52px;
  font-size: 18px;
  color: $color-turquoise;
  cursor: pointer;
  z-index: 10;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 50px;
  margin-top: -2px;
  border-bottom: 1px solid #36bd9f;
  border-right: 1px solid #36bd9f;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 50px;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 0 0 15px 0;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: $color-white;
  border: solid 1px $color-turquoise;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 25px 0;
  font-size: 15px;
  color: #9b9faa;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 5;
  /*overflow-y: scroll;
  height: 223px;*/
}
.scrollbar{
  height: 200px;
  overflow-y: scroll;
  margin: 0 17px 5px 0;
}
#scroll-style::-webkit-scrollbar{

  -webkit-appearance: none;
  width: 5px;
  opacity: 0.2;
  border-radius: 2.5px;
  background-color: #eaeaea;
}

#scroll-style::-webkit-scrollbar-thumb {
  opacity: 0.2;
  border-radius: 2.5px;
  background-color: #2d2926;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);

}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 7px 15px 7px 52px;
  bottom: 0;
  font-size: 16px;
  color: #2d2926;
  line-height: 24px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #e1e3e9;
}
/*--------------------------*/
.section-profess{
  padding: 78px 0 55px 0;
  .button{
    width: 203px;
    height: 51px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
  }
}
.section-profess-content{
  flex-wrap: nowrap;
  div{
    align-items: center;
    margin: 14px 0;
  }
  img{
    height: 60px;
    width: 60px;
    margin-bottom: 25px;
  }
  span{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 5px;
  }
}

.section-reasons{
  padding: 50px 0 0 0 ;
  background: linear-gradient(-45deg, #e9eaec 25%, #f8f8f8 0, #f8f8f8 50%, #e9eaec 0, #e9eaec 75%, #f8f8f8 0);
  background-size: 6px 6px;
}

.section-benefits{
  padding: 64px 0;
}
.section-benefits-content{
  justify-content: space-around;
  div{
    width: 190px;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 0;
  }
  img{
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
  }
  span{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}


/*--------SLIDER REASONS--------*/
.section-reasons {
  .slider-nav {
    width: 30%;
    span {
      font-size: 20px;
      font-weight: 500;
      width: 100% !important;
      text-align: left;
      display: block;
      padding: 10px 16px;
      cursor: pointer;
    }
    span.slick-current {
      font-weight: 900;
      color: $color-white;
      background-color: $color-turquoise;
    }
  }
  .slider-arrow{
    display: none;

  }
  .tab-slider {
    overflow: hidden;
    visibility: hidden;
    transition: height 0.2s linear;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .grid-slider {
    flex-wrap: nowrap;
  }

  .slide {
    /*display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
    background: #fff;
    border-top-right-radius: 141px;
    border-bottom-right-radius: 141px;
    .slide-img {
      display: block;
      width: 40%;
      float: left;
    }
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: 299px;
      height: 283px;
    }
    .title{
      display: none;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      background-color: $color-turquoise;
      padding: 10px 20px;
      margin: 0 auto;
      width: 90%;
      text-align: center;
    }
    .slide-desc {
      font-size: 18px;
      font-weight: 500;
      width: 60%;
      float: left;
      padding: 40px 45px 40px 35px;
    }
  }

  .slick-track {
    margin-left: 0 !important;
  }

  .slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0 -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;

    &:before {
      font-size: 20px;
      opacity: .75;
      background: red;
    }
  }
  .slick-next {
    right: -25px;
    &:before {
      content: '→';
    }
  }
  .slick-prev {
    left: -25px;
    &:before {
      content: '←';
    }
  }
  p {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
/*--------------SLIDER EXPERTS----------*/
.experts-slider {
  overflow: hidden;
  visibility: hidden;
  transition: height 0.2s linear;
  text-align: center;
  .slide{
    background: #f8f8f8;
    padding: 40px 27px 34px 27px;
    margin-left: 20px;
    margin-right: 20px;
  }
  span{
    display: block;
  }
  .photo{
    width: 110px;
    height: 110px;
    margin: 0 auto 20px auto;
  }
  .name{
    font-size: 20px;
    font-weight: 900;
  }
  .aftername{
    font-size: 16px;
    margin-bottom: 32px;
  }
  .written,
  .experience{
    font-size: 18px;
  }
  .written{
    margin-bottom: 5px;
  }
  .number{
    font-size: 20px;
    font-weight: 900;
    color: $color-turquoise;
  }
  .stars .fa-star{
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #ddd;
  }
  .stars .fa-star.check{
    color: $color-orange;
  }
  .based{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 25px;

  }
  ul{
    justify-content: space-around;
    margin-bottom: 45px;

    li{
      font-size: 15.5px;
      font-weight: bold;
      border-radius: 10px;
      background-color: #fff;
      padding: 8px;
      margin-bottom: 5px;
    }
  }
  .button{
    width: 191px;
    height: 47px;
    font-size: 22px;
    font-weight: 900;
    margin: 0 auto;
  }
/*----------------*/
  /*.slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
  }*/

}
.section-experts{
  .slider-arrow{
    bottom: 272px;
  }
}
/*---------------SLIDER NAV---------------*/
.slider-arrow{
  width: 100%;
  position: relative;
}
.prev0, .prev1, .prev2,
.next0, .next1, .next2{
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 0;
  margin-top: 0;
  border-top: 2px solid $color-black;
  border-left: 2px solid $color-black;
  cursor: pointer;
}
.prev0, .prev1, .prev2{
  right: 25px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.next0, .next1, .next2{
  left: 25px;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
/*-----------------BANNER------------------*/
.banner-blue{
  background-color: $color-turquoise;
  margin-top: 68px;
}
.banner-blue-content{
  justify-content: space-around;
  height: 116px;
  color: $color-white;
  span{
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
  }
  .button {
    width: 172px;
    height: 42px;
    font-size: 20px;
    font-weight: 900;
  }
}

.banner-white{
  background-color: $color-white;
}
.banner-white-content{
  justify-content: space-around;
  height: 177px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  span{
    color: $color-orange;
    font-size: 24px;
    font-weight: 900;
  }
  .button{
    width: 172px;
    height: 42px;
    font-size: 20px;
    font-weight: 900;
  }
}
/*---------------------------------------*/
.section-offer{
  background-image: url('../img/writingoffer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-offer-content{
  justify-content: space-around;
  .content-info{
    width: 37%;
    text-align: center;
    .block-info{
      span{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 900;
      }
        font-size: 16px;
        font-weight: 500;
        border-radius: 42px;
        border: 2px solid $color-turquoise;
        background-color: #fafafa;
        padding: 20px;
    }
  }

  .content-select{
    height: 381px;
    background: $color-turquoise;
    padding: 40px 60px;
    .custom-select-trigger{
      padding: 16px 35px 16px 10px;
      text-align: center;


    }
    .button{
      font-size: 20px;
      font-weight: 900;
      width: 172px;
      height: 42px;
      margin: 0 auto;
    }
  }
}

.content-select{
    .custom-select-trigger{
      font-size: 18px;
      font-weight: 900;
      color: #303030;
      z-index: 1;
      padding: 16px 35px 16px 10px;
      text-align: center;
    }
}
.custom-select{
  .custom-select-trigger{
    transition: all 0.4s ease-in-out;
  }
}
.custom-select.opened{
  .custom-select-trigger{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 0.4s ease-in-out;
  }
}


.section-experts{
  .content-select{
    border-radius: 48px;
    background-color: $color-turquoise;
    padding: 20px 30px;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 76px auto;

    .button{
      width: 172px;
      height: 42px;
      font-size: 20px;
      font-weight: 900;
    }
  }
}

.section-howorder{
  padding: 50px 0 0 0;
  background-image: url(../img/howitworks-bg.jpg);
  background-repeat: no-repeat;
  .section-title{
    color: $color-white;
    margin-bottom: 15px;
  }
  .block-info{
    width: 469px;
    background-color: $color-white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid $color-turquoise;
    font-weight: 900;
    text-align: center;
    flex-wrap: nowrap;
    margin: 35px 0;
    .number{
      color: $color-white;
      background-color: $color-turquoise;
      font-size: 73px;
      padding: 8px 32px;
    }
    .info{
      font-size: 18px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      color: #575757;
      padding: 25px;
    }
  }
  .banner-blue{
    margin-top: 14px;
  }
}

.section-reviews{
  .slider-arrow{
    bottom: 152px;
  }
}
.reviews-slider{
  overflow: hidden;
  visibility: hidden;
  transition: height 0.2s linear;
  .slide{
    background-color: #f8f8f8;
    padding: 24px 30px;
    margin-left: 50px;
    margin-right: 50px;

  }
  .block-info{
    justify-content: flex-start;
  }
  .name{
    font-size: 20px;
    font-weight: 900;
    margin-right: 25px;
  }
  .stars .fa-star{
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #ddd;
  }
  .stars .fa-star.check{
    color: $color-orange;
  }
  .date{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .reviews{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0 2px;
  border-radius: 100%;
  background-color: #ebebeb;
  text-indent: -9999px;
  outline: none;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background-color: $color-turquoise;
  border-radius: 100%;
  width: 14px;
  height: 14px;
}

.section-lastorder{
  background-color: #f5f5f5;
  .lastorder-content{
    justify-content: center;
    .slide{
      display: flex!important;
      background-color: $color-white;
      padding-bottom: 20px;
    }
  }
  .lastorder-slider-mob{
    overflow: hidden;
    visibility: hidden;
    transition: height 0.2s linear;
  .slide{
    padding: 0 20px;
  }
  }
  .title-row{
    color: $color-white;
    background: linear-gradient(-45deg, #676767 10%, #36bd9f 0, #36BD9E 70%, #676767 0, #676767 75%, #36bd9f 0);
    background-size: 6px 6px;
    font-size: 18px;
    font-weight: 900;
    padding: 30px 31px;
    margin-bottom: 20px;

  }
  .text-row{
    color: #212121;
    background-color: $color-white;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 32px;

  }
}

.section-faq{
  .section-title{
    text-align: left;
  }
  .faq-content{
    width: 50%;
    .question{
      font-size: 24px;
      font-weight: 900;
      margin-bottom: 10px;
      cursor: pointer;
      &:before{
        content: "";
        display:inline-flex;
        position: relative;
        bottom: 3px;
        width: 14px;
        height: 14px;
        margin-right: 25px;
        margin-left: 0;
        margin-top: 0;
        border-top: 2px solid $color-turquoise;
        border-left: 2px solid $color-turquoise;
        cursor: pointer;
        -webkit-transform: rotateZ(135deg);
        transform: rotateZ(135deg);
        transition: all 0.4s ease-in-out;
        }
      }
    .question.is-opened{
      &:before{
        -webkit-transform: rotateZ(225deg);
        transform: rotateZ(225deg);
        transition: all 0.4s ease-in-out;
      }
    }
    .answer{
      display: none;
      margin-left: 41px;
    }
  }
}
.chat{
  width: 35%;
  height: 50%;
  border-radius: 38px;
  background-color: $color-turquoise;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  padding: 50px;
  text-align: center;
  .title{
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .description{
    margin-bottom: 20px;
  }
  .button{
    width: 211px;
    height: 53px;
    margin: 0 auto;
  }
}

.section-services{
  padding: 0;
  background-image: url(../img/popularservices-bg.jpg);
  background-repeat: no-repeat;
  .services-content{
    width: 82%;
    height: 525px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 50px 100px;
    background: $color-turquoise;

    ul{
      justify-content: flex-start;
      li{
        font-size: 18px;
        font-weight: 900;
        border-radius: 18px;
        background-color: #fafafa;
        padding: 8px 5px;
        margin-right: 10px;
        margin-bottom: 22px;
      }
    }

  }
  .section-title{
    color: $color-white;
    text-align: left;

  }
}

.footer{
  padding: 30px 0;
  background-color: $color-turquoise;
  .footer-row{
    margin: 10px 0 25px 0;
    .logo-footer{
      height: 40px;
      margin-right: 25px;
    }
    .app-store{
      height: 50px;
    }
    .payment{
      width: 45px;
      margin-left: 10px;
    }
    span{
      color: $color-white;
      font-size: 18px;
      font-weight: 900;
      margin-right: 20px;
    }
  }
  .line{
    display: block;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
  }
  .contact{
    /*justify-content: flex-start;*/
    width: 70%;
  }
  .footer-link{
    flex-wrap: wrap;
    align-items: center;
    height: 94px;
    li{
      a{
        color: #ffffff;
        font-size: 18px;
        font-weight: 900;
        transition: .5s;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
  .footer-info{
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    ol{
      padding-left: 38px;
      li{
        list-style-type: decimal;
      }
    }
  }
  .footer-copyright{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    margin: 35px 0 14px 0;
  }
}

@import "media.scss";