@mixin respond-to($media) {
  @if $media == grid-tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $media == grid-small-desktop {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if $media == grid-large-desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}


@media only screen and (max-width: 320px){

}

@media only screen and (max-width: 640px){
  .section-howorder{
    background-size: cover;
  }
  .howorder-content{
    flex-direction: column;
    align-items: center;
  }
  .slider-arrow{
    display: none;
  }
  .reviews-slider .slide{

  }
  .faq-container{
    flex-direction: column;
  }
  .chat{
    margin-top: 20px;
    width: 100%!important;
  }
}


@media only screen and (max-width: 767px){
  .header .header-content .phone, .header .header-content .email, .header .header-content .account{
    display: none;
  }
  .main-menu{
    display: none;
  }

  .section-header-content{
    width: 100%!important;
    h1{
      margin-top: 55px!important;
      text-align: center;
    }
    .description{
      text-align: center;
    }
  }

  .section-profess-content{
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-profess-content img{
    height: 60px!important;
    width: 60px!important;
  }
  .section-profess-content span{
    font-size: 18px!important;
  }
  .section-profess .button{
    width: 203px!important;
    height: 51px!important;
    font-size: 20px!important;
  }


  .banner-blue-content{
    text-align: center;
    height: 254px!important;
    flex-direction: column;
    font-size: 20px!important;
    justify-content: space-evenly;
  }
  .banner-blue-content span{
    font-size: 24px!important;
  }
  .banner-blue-content .button{
    width: 206px!important;
    height: 51px!important;
    font-size: 18px!important;

  }


  .section-benefits-content img{
    height: 60px!important;
    width: 60px!important;
  }
  .section-benefits-content span{
    font-size: 16px!important;
  }

  .section-offer-content .content-info{
    width: 100%;
  }
  .section-offer-content .content-info .block-info{
    margin: 8px 0;
  }
  .section-offer-content .content-select{
    padding: 30px 30px!important;
    margin-top: 20px;
  }
  .section-offer-content .content-select .button{
    width: 156px!important;
    height: 39px!important;
    font-size: 18px!important;
  }

  .section-experts .content-select{
    flex-direction: column;
    height: 224px;
  }
  .section-experts .content-select .button{
    width: 156px;
    height: 39px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 992px){
  .main-menu {
    width: 90%!important;
  }
  .main-menu ul li a{
    font-size: 13px;
  }
  .header .header-content{
    height: 51px;
  }
  .header .header-content .logo img{
    height: 25px;
  }
  .header .header-content .phone, .header .header-content .email, .header .header-content .account{
    font-size: 12px;
  }
  .section-header{
    height: 400px;
    background-position: inherit;
  }
  .section-title{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .section-header-content{
    h1{
      margin-top: 70px;
      margin-bottom: 16px;
      font-size: 28px;
    }
    .description{
      font-size: 14px;
      margin-bottom: 20px;
    }
    .custom-select-trigger{
      font-size: 14px;
      width: 186px;
      padding: 8px 8px 8px 22px;
      &:after{
        right: 22px;
      }
    }
    .custom-option{
      font-size: 14px;
    }
    .block-select{
      height: 53px;
      width: 95%;
      .button{
        font-size: 14px;
        width: 162px;
        height: 33px;
      }
    }
  }
  .custom-option{
    padding: 7px 7px 7px 20px;
  }
  .custom-options{
    top: 40px;
    padding: 15px 0;
  }
  .section-profess {
    padding: 48px 0 30px 0;
  }
  .section-profess-content {
    img{
    height: 40px;
    width: 40px;
  }
    span{
      font-size: 14px;
    }
  }
  .section-profess .button{
    width: 126px;
    height: 32px;
    font-size: 14px;
  }

  .section-reasons{
    padding: 30px 0 0 0;
  }
  .section-reasons .slider-nav span{
    font-size: 14px;
  }
  .section-reasons .slide img{
    height: auto;
  }
  .section-reasons .slide .slide-desc{
    font-size: 14px;
    padding: 30px 44px 30px 25px;
  }

  .banner-blue{
    margin-top: 40px;
  }
  .banner-blue-content{
    font-size: 14px;
    height: 73px;
    span{
      font-size: 16px;
    }
    .button{
      width: 115px;
      height: 32px;
      font-size: 14px;
    }
  }

  .section-benefits{
    padding: 40px 0;
  }
  .section-benefits-content img{
    height: 40px;
    width: 40px;
  }
  .section-benefits-content span{
    font-size: 14px;
  }

  .section-offer-content .content-info .block-info span{
    font-size: 16px;
  }
  .section-offer-content .content-info .block-info{
    font-size: 14px;
    padding: 10px;
  }
  .section-offer-content .content-select .custom-select-trigger{
    font-size: 14px;
  }
  .section-offer-content .content-select{
    height: 315px;
    padding: 30px 60px;
  }
  .custom-select-trigger{
    width: 220px;
  }
  .custom-select-trigger:after{
    right: 22px;
  }

  .section-offer-content .content-select .button{
    font-size: 14px;
  }
  .section-offer-content .content-select .button{
    width: 146px;
    height: 35px;
  }
  .content-select .custom-select-trigger{
    font-size: 14px;
  }
  .section-experts .content-select .button{
    width: 145px;
    height: 35px;
    font-size: 14px;
  }
  .section-experts .content-select{
    width: 95%!important;
    padding: 20px 15px;
    margin-bottom: 45px;
  }

  /*--------------SLIDER EXPERTS----------*/
  .experts-slider {
    .slide{
      padding: 25px 16px 20px 16px;
      margin-left: 10px;
      margin-right: 10px;

    }
    .photo{
      width: 68px;
      height: 68px;
      margin: 0 auto 10px auto;
    }
    .name{
      font-size: 14px;
      font-weight: 900;
    }
    .aftername{
      font-size: 13px;
      margin-bottom: 20px;
    }
    .written,
    .experience{
      font-size: 13px;
    }
    .written{
      margin-bottom: 5px;
    }
    .number{
      font-size: 14px;
      font-weight: 900;
      color: $color-turquoise;
    }
    .stars .fa-star{
      font-size: 12px;
    }
    .based{
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 20px;

    }
    ul{
      margin-bottom: 30px;

      li{
        font-size: 11px;
        padding: 4px;
        margin-bottom: 5px;
      }
    }
    .button{
      width: 117px;
      height: 30px;
      font-size: 14px;
    }
    /*----------------*/
    /*.slick-prev,
    .slick-next {
      font-size: 0;
      line-height: 0;
      border: none;
      outline: none;
    }*/

  }
  .section-experts{
    .slider-arrow{
      bottom: 213px;
    }
  }
  .prev, .prev2, .next, .next2{
    width: 20px;
    height: 20px;
  }

  .section-howorder .block-info .number{
    font-size: 45px;
  }
  .section-howorder .block-info .info{
    font-size: 14px;
    padding: 8px;
  }
  .section-howorder .block-info{
    width: 290px!important;
  }
  .section-howorder{
    background-position: top;
  }
  .section-howorder .block-info .number{
    padding: 8px 22px;
  }
  .section-howorder .block-info{
    margin: 22px 0;
  }

  .section-reviews{
    padding: 38px 0 32px 0;
    .section-title{
      margin-bottom: 20px;
    }
  }

  .reviews-slider{
    .name {
      font-size: 16px;
    }
    .stars .fa-star{
      font-size: 14px;
    }
    .date{
      font-size: 12px;
    }
    .reviews{
      font-size: 14px;
    }
    .slide{
      padding: 16px 13px;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .section-lastorder .lastorder-slider-mob .slide{
    padding: 0;
  }

  .section-faq .faq-content .question{
    font-size: 16px;
  }
  .section-faq .faq-content .question:before{
    bottom: 0;
    width: 10px;
    height: 10px;
  }

  .chat{
    font-size: 16px;
    padding: 35px;

    .button{
      width: 139px;
      height: 34px;
    }
  }

  .section-services{
    background-image: none;
    background-color: $color-turquoise;
  }
  .section-services .services-content{
    width: 100%;
    padding: 50px 50px;
    height: auto;
  }
  .section-services .services-content ul li{
    font-size: 14px;
  }

  .banner-white{
  }
  .banner-white-content{
    height: 100px;
    font-size: 14px;
    span{
      font-size: 16px;
    }
    .button{
      width: 107px;
      height: 35px;
      font-size: 14px;
    }
  }

  .footer .footer-row .logo-footer{
    height: 25px;
  }
  .footer .footer-row .app-store{
    height: 30px;
  }
  .footer .footer-row span{
    font-size: 14px;
  }
  .footer .footer-row span{
    font-size: 14px;
  }
  .footer .footer-link li a{
    font-size: 14px;
  }
  .footer .footer-info{
    font-size: 12px;
  }
  .footer .footer-copyright{
    font-size: 12px;
  }
  .footer .footer-row{
    margin: 0;
  }
  .footer .line{
    margin: 20px 0;
  }
}
@media only screen and (max-width: 1200px){
    .main-menu{
        width: 70%;
    }
  .section-header-content {
    width: 60%;
    h1{
    }
  }
  .section-experts .content-select{
    width: 83%;
  }
  .prev, .prev2{
    right: 10px;
  }
  .next, .next2{
    left: 10px;
  }
  .section-howorder .block-info{
    width: 445px;
  }
  .section-lastorder .title-row{
    font-size: 14px;
    padding: 25px 20px;
  }
  .section-lastorder .text-row{
    font-size: 14px;
    padding: 15px 20px;
  }
  .chat{
    width: 45%;
  }

}


.wrapper-grid {
  @include respond-to(grid-tablet) {
    width: 750px;
  }
  @include respond-to(grid-small-desktop) {
    width: 970px;
  }
  @include respond-to(grid-large-desktop) {
    width: 1170px;
  }
}

